.App {
  width: 100vw;
  height: 100vh;
  display: flex;

  .ads {
    width: 65%;
  }

  .panel {
    height: 100%;
    width: 35%;
    padding: 20px 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    .notifications {
      flex: 1;
    }

    .icons {
      padding: 40px 0 40px;
    }
  }
}

.sponsor-page {
  width: 100vw;
  height: 100vh;
}

.hidden {
  opacity: 0;
  display: none;
}

#window-bar {
  -webkit-app-region: drag;
  height: 35px;
  padding: none;
  margin: 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#window-bar-btns {
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 30px;

  div {
    -webkit-app-region: no-drag;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 100%;
    color: rgb(59, 59, 59);
    &:hover {
      color: black;
    }

    &#back-btn {
      margin-right: auto;
    }
    &#min-btn {
      margin-left: auto;
    }
  }
}
