.App {
  width: 100vw;
  height: 100vh;
  display: flex;

  .ads {
    width: 75%;
  }

  .panel {
    height: 100%;
    width: 25%;
    // background-color: black;

    display: flex;
    flex-direction: column;

    .notifications {
      // background-color: green;
      height: 50%;
    }

    .icons {
      // background-color: blue;
      height: 50%;
    }
  }
}

.sponsor-page {

}

.hidden {
  opacity: 0;
  display: none;
}

#window-bar {
  -webkit-app-region: drag;
  height: 30px; 
  padding: none;
  margin: 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#window-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0px;
  right: 6px;
  display: flex;
  align-items: center;

  div {
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
  }
}
